
.mainContainer
{   
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 2px solid black;
}
.contestsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contestContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.contestsContainer > div{
    margin: 0.75rem;
    padding: 0.5rem;
}
.coinIcon{
    width: 2rem;
    height: 2rem;
    display: inline;
}
.navCoinIcon{
    width: 1.5rem;
    height: 1.5rem;
    display: inline;

}
.contestDescription{
    /* over floe ellipsis for 5 lines*/
    height: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 5;
}

.logo{
    object-fit: contain;
    max-width: 2rem;
    max-height: 2rem;
    display: inline;

}